<ul class="list-unstyled">
  
<% tasks.each do |task| %>

    <li class="media mb-3">
      <img class="mr-2 rounded" src="" alt="">
      <div class="media-body">
        <div>
          
        </div>
        <div>
          
        </div>
      </div>
    </li>
  
<% end %>


</ul>
